<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>381776864970-fpenqv8r19ci6kot8b34gmr2p23rd01n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381776864970-fpenqv8r19ci6kot8b34gmr2p23rd01n</string>
	<key>API_KEY</key>
	<string>AIzaSyCnbSXPtQRhy4rCJvUCyxsJchCIQK3GAeI</string>
	<key>GCM_SENDER_ID</key>
	<string>381776864970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreeBhagwat.FactsFever</string>
	<key>PROJECT_ID</key>
	<string>factsfever-a26df</string>
	<key>STORAGE_BUCKET</key>
	<string>factsfever-a26df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381776864970:ios:09ed5785e27f35db</string>
	<key>DATABASE_URL</key>
	<string>https://factsfever-a26df.firebaseio.com</string>
</dict>
</plist>